@import 'variables';
@import 'mixins';

.albumDetail {
  padding-top: 6rem;
}

.albumDetailHead {
  padding: .5rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  img {
    width: 25vw;
  }
  h1 {
    color: $white;
    font-family: 'Uberlin Bold';
  }
  h2, h3 {
    color: $lightGray;
  }
}

.detailHeadElement {
  width: auto;
  min-width: 20vw;
  margin: 0 1rem;
}

.albumDetailBody {
  padding: .5rem;
  h3 {
    color: $lightGray;
  }
}
